<%= form_with(model: experience, local: true) do |form| %>
  <% if experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :experience_name %>
  </div>

  <div class="field">
    <%= form.label :startdate %>
    <%= form.date_select :startdate, id: :experience_startdate %>
  </div>

  <div class="field">
    <%= form.label :enddate %>
    <%= form.date_select :enddate, id: :experience_enddate %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :experience_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
