<p id="notice"><%= notice %></p>

<div class="wrapper">
  <div class=section-title-experience>
    <h2 class="section-title">
      <%= link_to root_path, class:"back-btn" do %>
      <i class="fas fa-arrow-left"></i>
      <% end %>
      <i class="fas fa-tasks fa-lg">
        <span>EXPERIENCE</span>
      </i>      
    </h2>
  </div>



  <div class="experience-contents">
   <div class="content">
    <% @experiences.each do |experience| %>
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapse_<%= experience.id %>" aria-expanded="false" aria-controls="collapse_<%= experience.id %>">
    Link with href</a>
    <div class="collapse" id="collapse_<%= experience.id %>">
      <div class="well">
        <%= experience.name %>
        <%= experience.startdate.year %> /
        <%= experience.startdate.month %> 〜
        <%= experience.enddate.year %> /
        <%= experience.enddate.month %>
        <%= experience.description %>
      </div>   
    </div>  
    <% end %>
   </div> 
  </div>  
</div>    
  



