<p id="notice"><%= notice %></p>

<h1>Experiences</h1>



  
    <% @experiences.each do |experience| %>
        <%= experience.name %>
        <%= experience.startdate %>
        <%= experience.enddate %>
        <%= experience.description %>
        <%= link_to 'Show', experience %>
        
      
    <% end %>
  



