<p id="notice"><%= notice %></p>

<div class="wrapper">
  <div class=section-title-experience>
    <h2 class="section-title">
      <i class="fas fa-tasks fa-lg">
        <span>EXPERIENCE</span>
      </i>      
    </h2>
  </div>



  <div class="experience-contents">
   <div class="content">
    <% @experiences.each do |experience| %>
        <%= experience.name %>
        <%= experience.startdate %>
        <%= experience.enddate %>
        <%= experience.description %>
        <%= link_to 'Show', experience %>
   </div>     
      
    <% end %>
  </div>  
</div>    
  



